[Global]
region={{ region }}
username={{ username }}
password={{ password }}
auth-url={{ auth_url }}
tenant-id={{ tenant_id }}
domain-id={{ domain_id }} 

[LoadBalancer]
subnet-id={{ subnet_id }}
floating-network-id={{ floating_network_id }}
use-octavia={{ use_octavia }}

[BlockStorage]
bs-version=v2

[Networking]
public-network-name={{ public_network_name }}
ipv6-support-disabled={{ ipv6_support_disabled }}